[Unit]
Description=Apache Web Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/local/miapache/bin/apachectl start
ExecStop=/usr/local/miapache/bin graceful-stop
ExecReload=/usr/local/miapache/bin/ apachectl graceful
PrivateTmp=true
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
